@import "color.scss";
@font-face {font-family: "Lemon/Milk"; src: url("//db.onlinewebfonts.com/t/07dbbec657f883425aad385f0617c33a.eot"); src: url("//db.onlinewebfonts.com/t/07dbbec657f883425aad385f0617c33a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/07dbbec657f883425aad385f0617c33a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/07dbbec657f883425aad385f0617c33a.woff") format("woff"), url("//db.onlinewebfonts.com/t/07dbbec657f883425aad385f0617c33a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/07dbbec657f883425aad385f0617c33a.svg#Lemon/Milk") format("svg"); }
@font-face {font-family: "MADE TOMMY"; src: url("//db.onlinewebfonts.com/t/f608cf0f495fc936317f6ba9637d3b7e.eot"); src: url("//db.onlinewebfonts.com/t/f608cf0f495fc936317f6ba9637d3b7e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f608cf0f495fc936317f6ba9637d3b7e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f608cf0f495fc936317f6ba9637d3b7e.woff") format("woff"), url("//db.onlinewebfonts.com/t/f608cf0f495fc936317f6ba9637d3b7e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f608cf0f495fc936317f6ba9637d3b7e.svg#MADE TOMMY") format("svg"); }


@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  

.section{

    .card {
        margin-top:100px;
        position: absolute;
        height: 900px;
        width: 550px;
        background-image: url("https://i.imgur.com/0hfJnMS.png");
        transform-style: preserve-3d;
    }
    .card:hover img {
        transform: translateZ(50px);
    }
    
    img.moi{
        width: 489px;
        height: 860px;
        margin-left: 25px;
        margin-top: 119px;
    }

    z-index:1;
    a{
        cursor: pointer;
        color:$white;
        text-decoration: none;

    }
    .button2:hover{
        cursor: pointer;
        a{
            color:$black;
        }
    }

    canvas{
        position:absolute;
        pointer-events: none;
    }
    .leftpane{
        width: 33%;
        min-width: 350px;
        height: 100%;
        float: left;
        background-color: $jaune;
        border-collapse: collapse;
    }
    .moi{
        position: absolute;
        bottom:0px;
        left: 8%;
        width: 0px;
        min-width: 483px;
        height: 90%;
        pointer-events: none;
    }
    .rightpane{
        font-family: "Lemon/Milk";
        margin-left:36%;
        .top{
            margin-top:50px;
                -webkit-animation: slide-right 0.5s ease-in-out reverse both;
                        animation: slide-right 0.5s ease-in-out reverse both;
        }
        h1{
            font-size: 72px;
            margin:0px;
            margin-bottom: 0px;
            
                -webkit-animation: slide-right 1s ease-in-out reverse both;
                        animation: slide-right 1s ease-in-out reverse both;
        }
        h2{
            font-size: 36px;
            margin:0px;
            margin-top:50px;
                -webkit-animation: slide-right 1.5s ease-in-out reverse both;
                        animation: slide-right 1.5s ease-in-out reverse both;
        }
    }



    //bouton style

/* Common button styles */

    .button2 {
        
        float: left;
        min-width: 150px;
        max-width: 250px;
        display: block;
        margin: 1em;
        padding: 1em 2em;
        border: none;
        background: none;
        color: inherit;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
    }
    .button2:focus {
        outline: none;
    }
    .button2 > span {
        vertical-align: middle;
    }

    .button2.button--wapasha {
        margin-top: 50px;
        background: $black;
        color: $white;
        -webkit-transition: background-color 0.3s, color 0.3s;
        transition: background-color 0.3s, color 0.3s;
    }
    .button--wapasha.button--inverted {
        background: $white;
        color: $black;
    }
    /*.button--wapasha::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $blue;
        z-index: -1;
        border-radius: inherit;
        opacity: 0;
        -webkit-transform: scale3d(0.6, 0.6, 1);
        transform: scale3d(0.6, 0.6, 1);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }*/
    .button--wapasha.button--inverted::before {
        border-color: #7986cb;
    }
    .button--wapasha:hover {
        background-color: $white;
        color: $black;
    }
    .button--wapasha.button--inverted:hover {
        background-color: $black;
        color: #7986cb;
    }
    .button--wapasha:hover::before {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }


    .button--text-upper {
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .button--text-thick {
        font-weight: 600;
    }


    .button--size-s {
        font-size: 14px;
    }





    //bouton nuclear

    .nuclear{
        position: absolute;
        margin-top: 50px;
        margin-left: 65%;
    }


    body {
        scroll-behavior: smooth;
        width: 100vh;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .button {
      width: 9.2em;
      height: 9.2em;
      border-radius: 50%;
      background-image:
      -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%),
      -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%),
      -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%),
      -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%),
      -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(44,0,0,0) 0%, rgba(44,0,0,0) 3%,rgba(44,0,0,0) 3.5%),
      -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255,30,30,0) 0%, rgba(255,30,30,0) 6%,rgba(255,30,30,0.1) 7.5%),
      -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(210,25,25,0) 0%, rgba(210,25,25,0) 1.2%,rgba(210,25,25,0.2) 2.2%),
      -webkit-radial-gradient(50% 50%, 200% 50%, rgb(130,10,10) 5%,rgb(120,10,10) 30%, rgb(170,17,17) 100%);
      box-shadow:  inset 0 0.25rem 0.3rem rgb(153,76,76);
    }
    .inner-frame {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      background-color: rgb(0,0,0);
      box-shadow: inset 0 0.25rem 0.15rem rgba(199,199,199,0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .frame {
      width: 11rem;
      height: 11rem;
      border-radius: 50%;
      background-color: rgb(27,27,27);
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow:  rgba(0,0,0,0.15) 0 -5px 5px 3px,
      rgba(0,0,0,0.15) 0 5px 5px 3px,
      rgba(30,50,90,0.3) 0 5px 6px 4px,
      inset 0 0.25rem 0.15rem rgba(138,138,138,0.2);
    }
    .button:active {
      width: 9rem;
      height: 9rem;
      filter: brightness(97%);
      transform: rotate(0.5deg);
      box-shadow: inset rgba(61,0,0,0.7) 0 2px 2px 2px,
      inset rgba(61,0,0,0.15) 0 2px 2px 5px;
    }
    .glass-wrap {
      width: 16rem;
      height: 13.5rem;
      border-radius: 5%;
      overflow:hidden;
    }
    .glass {
      z-index:2;
      width: 100%;
      height: 100%;
      left: 4px;
      top: 4px;
      background: rgba(180,180,180,0.3);
      filter: blur(10px);
    }
    .cover-wrap {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      box-shadow: 8px 8px 5px rgba(0,0,0,0.3),
      0px 5px 6px 4px rgba(29,50,90,0.3),
      inset 5px -5px 0px 5px rgba(200,200,200,0.15),
      inset -2px -2px 0px 5px rgba(195,195,195,0.15);
      z-index: 3;
      border-radius: 5%;
      cursor: pointer;
    }
    .hinge {
      width: 1.5rem;
      height: 5rem;
      position: absolute;
      top:50%;
      left:0%;
      transform: translate(-100%,-50%);
      border-radius: 6% 1% 1% 6%;
      background: radial-gradient(rgb(112,112,112), rgb(139,139,139));
      box-shadow: 0px 5px 5px rgba(0,0,0,0.1),
      0px 5px 5px 5px rgba(29,50,90,0.3),
      inset rgba(44,44,44,0.25) -1px -1px 1px 1px;
      z-index: 1;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .bolt {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: radial-gradient(rgb(120,120,120), rgb(80,80,80));
      margin: 10px 0px 10px 0px;
      box-shadow: 0px 0px 1px rgba(0,0,0,1),
      inset rgba(200,200,200,0.45) 5px 0px 5px 5px;
      z-index: 2;
    }
    .label {
      width: 11rem;
      height: 4rem;
      border-radius: 2%;
      background:$white;
      margin-bottom: 2.5rem;
      font-size: 36px;
      font-family: 'Fjalla One', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0,0,0,0.25) 0 -5px 5px 1px,
      rgba(0,0,0,0.25) 0 5px 5px 1px,
      rgba(30,50,90,0.3) 0 5px 5px 2px,
      inset 0 0.25rem 0.125rem rgba(255,255,255,0.2);
    }
    .button-wrap {
      position: relative;
    }
    .cover-wrap.active {
      width: 30%;
      left:-30%;
      overflow:hidden;
      box-shadow: 15px 15px 6px rgba(0,0,0,0.5),
      0px 5px 6px 4px rgba(29,50,90,0.3),
      inset 5px -5px 0px 5px rgba(200,200,200,0.15),
      inset -2px -2px 0px 5px rgba(195,195,195,0.15),
      inset 0px -65px 5px 7px rgba(0,0,0,0.2),
      inset 0px 65px 5px 7px rgba(0,0,0,0.2);
    }










}



